{{#if isEditing}}
<div class="panel">
  {{#formFor model}}
    <div class="row">
      <div class="large-12 columns">
        {{input name}}
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        {{input initScore }}
        {{input initMod}}
        {{input hp }}
        {{input ac }}
      </div>
      <div class="large-6 columns">
        {{input playerClass }}
        {{input level}}
        {{input speed }}
        {{input occupation }}
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        {{input strength }}
        {{input agility }}
        {{input stamina }}
        {{input personality }}
        {{input intelligence }}
        {{input luck }}
        {{input reflex }}
        {{input fortitude }}
        {{input will }}
        <button {{ action submit }}> Save </button>
      </div>
      <div class="large-6 columns">
        {{input alignment }}
        {{input luckyRoll as="text"}}
        {{input details as="text"}}
      </div>
    </div>
  {{/formFor}}
</div>
{{ else }}

<div class="panel">
  <div class="row">
    <div class="large-12 columns">
      <h3 {{action "editCharacter" on="doubleClick"}}> {{ name }} </h3>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h6 {{action "editCharacter" on="doubleClick"}}> lvl {{ level }} {{ playerClass }}</h6>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span {{action "editCharacter" on="doubleClick"}}> Occupation: {{ occupation }} </span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <ul>
        <li {{action "editCharacter" on="doubleClick"}}> HP: {{ hp }} </li>
        <li {{action "editCharacter" on="doubleClick"}}> AC: {{ ac }} </li>
      </ul>
    </div>

    <div class="large-6 columns">
      <ul>
        <li {{action "editCharacter" on="doubleClick"}}> Speed: {{ speed }} </li>
        <li {{action "editCharacter" on="doubleClick"}}> Init:  {{ initMod }} </li>
        <li {{action "editCharacter" on="doubleClick"}}> alignment: {{ alignment }} </li>
      </ul>
    </div>
  </div>

    <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <li {{action "editCharacter" on="doubleClick"}}> Str: {{ strength }} </li>
      <li {{action "editCharacter" on="doubleClick"}}> Agi: {{ agility }} </li>
      <li {{action "editCharacter" on="doubleClick"}}> Sta: {{ stamina }} </li>
      <li {{action "editCharacter" on="doubleClick"}}> Per: {{ personality }} </li>
      <li {{action "editCharacter" on="doubleClick"}}> Int: {{ intelligence }} </li>
      <li {{action "editCharacter" on="doubleClick"}}> Luck: {{ luck }} </li>
      <li {{action "editCharacter" on="doubleClick"}}> Lucky Roll: {{ luckyRoll }} </li>
    </div>
    <div class="large-6 columns">
      <li {{action "editCharacter" on="doubleClick"}}>Reflex: {{reflex }}</li>
      <li {{action "editCharacter" on="doubleClick"}}>Fortitude: {{fortitude }}</li>
      <li {{action "editCharacter" on="doubleClick"}}>Will: {{will }}</li>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <li {{action "editCharacter" on="doubleClick"}}>Details: {{details}}</li>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>

   <div class="row">
    <div class="large-12 columns">
      <button {{action "editCharacter"}} class="small">Edit</button>
    </div>
  </div>
</div>
{{/if}}
