<div class="panel">
  <div class="row">
    <div class="large-12 columns">
      <h3> {{ name }} </h3>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h6> lvl {{ level }} {{ playerClass }}</h6>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span> Occupation: {{ occupation }} </span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <ul>
        <li> HP: {{ hp }} </li>
        <li> AC: {{ ac }} </li>
      </ul>
    </div>

    <div class="large-6 columns">
      <ul>
        <li> Speed: {{ speed }} </li>
        <li> Init:  {{ initMod }} </li>
        <li> alignment: {{ alignment }} </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <li> Str: {{ strength }} </li>
      <li> Agi: {{ agility }} </li>
      <li> Sta: {{ stamina }} </li>
      <li> Per: {{ personality }} </li>
      <li> Int: {{ intelligence }} </li>
      <li> Luck: {{ luck }} </li>
      <li> Lucky Roll: {{ luckyRoll }} </li>
    </div>
  </div>
</div>
